keybinds {
  normal {
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt l" { MoveFocus "Right"; }
  }
}

plugins {
  zjstatus location="file:~/.config/zellij/plugins/zjstatus.wasm"
}

pane_frames false
